.grid {
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-areas:
        "header header header header"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 10%;
}

.grid-item1 {
    display: grid;
    grid-area: header;
    background-color: #D3D3D3;
}

.grid-item2 {
    display: grid;
    grid-area: main;
    background-color: #FFEBCD;
}

.grid-item3 {
    display: grid;
    grid-area: aside;
    background-color: #90EE90;
}

.footer {
    background-color: #D3D3D3;
}

.grid-2 {
    display: grid;
    grid-template-areas:
        "more1 more2"
        "more3 more3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.one-more {
    display: grid;
    width: 100px;
    height: 50px;
    grid-area: more1;
    align-self: center;
    background-color: #FF4500;

}

.two-more {
    display: grid;
    width: 100px;
    height: 50px;
    grid-area: more2;
    background-color: #FF4500;
    justify-self: end;
    align-self: center;

}

.three-more {
    display: grid;
    height: 50px;
    grid-area: more3;
    background-color: #FF4500;

}

.grid-item4 {
    width: 100px;
    height: 50px;
    background-color: #F0FFFF;
}

.grid-item5 {
    width: 100px;
    height: 50px;
    background-color: #F0FFFF;
}

.grid-item6 {
    width: 100px;
    height: 50px;
    background-color: #F0FFFF;
}

.grid-item7 {
    width: 100px;
    height: 50px;
    background-color: #F0FFFF;
}